#root{
    background-color: red;
}

.container{
    background-color:grey;
}

.places{
    display:grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr;
}

.place-video{
    display: flex;
    justify-content: center;
}

.place-info h1{
    text-align: center;
}

.place-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.place-summary p{
    padding: 20px;
}

.place-container{
    display: flex;
    border:1px solid yellow;
    
}

.mapContainer{
    background-color: red;
    position: relative;
    width: 100%;
}

.mapContainer:first-child{
    position:relative;
    width: 100%;
   
}

.place-map{
    
}

.visited{
    
    display:flex;
    justify-content: center;
}

.place-more-info{
    display:flex;
    justify-content: space-around;
}

.visited-false{
    display: flex;
    flex-direction: column;
    align-content: center;
   align-items: center; 
   background-color: red;

}

.visited-false p {
    color:white;
    padding: 15px;
}