#root{
    background-color: red;
}

.container{
    background-color:grey;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color:white;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.places{
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.title-container{
    display: flex;
    justify-content: center;
}

.place-video{
    display: flex;
    justify-content: center;
    align-content: center;
}

.place-info h1{
    margin:0px;
    text-align: center;
}

.place-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.place-detail p{
    text-align: center;
}

.place-summary p{
    padding: 0px 20px;
}

/* .place-container *{
    border:1px solid black; 
} */

.place-container {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: yellow;
    
}

.mapContainer:first-child{
    position: absolute;
    width: 45%;
    height: 60%;
    margin: 20px;

}


.visited{
    
    display:flex;
    justify-content: center;
}

.place-more-info{
    display:flex;
    justify-content: space-around;
}

.visited-false{
    display: flex;
    flex-direction: column;
    align-content: center;
   align-items: center; 
    border:1px solid black;

}

.visited-false p {
    color:white;
    padding: 15px;
}