body{
    margin: 0;
}

.container{
    background-color:#fff;
    width: 100%;
}

.navbar a{
    padding: 20px 0px;
    text-decoration: none;
    color:#000;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.places{
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title-container{
    display: flex;
    justify-content: center;
}

.place-video{
    display: flex;
    justify-content: center;
    align-content: center;
}

.place-info h1{
    margin:0px;
    text-align: center;
}

.place-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.place-detail p{
    text-align: center;
}

.place-summary p{
    padding: 0px 20px;
}

/* .place-container *{
    border:1px solid black; 
} */

.place-container {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;    
}

.mapContainer:first-child{
    position: absolute;
    width: 45%;
    height: 60%;
    margin: 20px;

}

.visited{ 
    display:flex;
    justify-content: center;
}

.place-more-info{
    display:flex;
    justify-content: space-around;
}

.visited-false{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
}
.visited-button{
    background: none;
    border:none;
    font-size: 1.2rem;
}

.visited-button:hover{
   color:green;
}

.marker{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Checkmark_green.svg/1180px-Checkmark_green.svg.png");
    border:1px solid red;
}


@media only screen and (max-width: 600px) {

    .place-container {
        display:grid; 
        grid-template-columns: 1fr ;
        width: 100%;        
    }

    .place-video iframe{
        height: 150px;
    }

    .mapContainer:first-child{
        display:none;
    }
  }
